a {
	color: #00FFE5;
}

.about-header {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-top: 55px;
	margin-bottom: 60px;
}

.image-container {
	width: 40%;
	text-align: center;
	display: inline-block;
	margin-top: 30px;
}

#current-me-image {
	height: 400px;
	border-style: double;
	border-width: 4px;
	border-radius: 8px;
	border-color: white;
}

.image-subtitle {
	color: white;
	font-family: 'Roboto', sans-serif;
	margin: 4px;
}

.tabed-content {
	display: inline-block;
	text-align: center;
	width: 50%;
	vertical-align: top;
}

.tab-container {
	text-align: left;
	color: white;
	font-family: 'Roboto', sans-serif;
}

.tab {
	font-size: 17px;
	padding: 5px 30px;
	display: inline-block;
	border-color: black;
	border-bottom-style: none;
	background-color: rgba(0, 0, 0, .3);
	cursor: pointer;
}

.selected {
	border-width: 2px;
	border-style: solid;
}

.page {
	background-color: rgba(0, 0, 0, .3);
	height: 400px;
	border-radius: 2px;
	overflow: auto;
}

.about-page {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 0px;
	text-align: left;
	padding: 5px;
}

.about-me-description {
	padding: 10px 35px;
	line-height: 30px;
}

.email {
	color: #00FFE5;
}

.random-blurb-header {
	font-family: 'Ranchers', cursive;
	font-weight: 100;
	margin-left: 35px;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.yellow {
	color: yellow;
}

.limegreen {
	color: limegreen;
}

.green {
	color: green;
}

.lightblue {
	color: lightblue;
}

.blue {
	color: blue;
}

.purple {
	color: purple;
}

.pink {
	color: pink;
}

.rose {
	color: rose;
}

.darkblue {
	color: darkblue;
}

.cyan {
	color: cyan;
}

.uni {
	margin-left: 38px;
}

.blurb-container {
	margin-bottom: 10px;
	margin-top: 10px;
}

.blurb-image {
	display: inline-block;
	height: 75px;
}

.blurb-description {
	width: 70%;
	display: inline-block;
	line-height: 30px;
	margin-left: 12px;
}

.personal-photo {
	display: inline-block;
	width: 30%;
	padding: 7px;
}