body {
	min-width: 900px;;
}

a  {
	text-decoration: none;
}

.forkme {
	position: absolute;
	top: 0px;
	right: 0px;
}

.logo {
	position: absolute;
	top: 5px;
	left: -15px;
	height: 135px;
	margin: 15px;
}

#back-button {
	position: absolute;
	width: 150px;
	height: 150px;
	background-color: white;
	border-radius: 115px;
	top: 220px;
	left: -103px;
	opacity: 0.8;
	box-shadow: 5px 1px 8px #888888;
	display: none;
	cursor: pointer;
}

#back-arrow {
	position: absolute;
	top: 279px;
	left: 2px;
	height: 33px;
	display: none;
	cursor: pointer;
}

.header {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-top: 115px;
}

.myname {
	font-size: 40px;
}

.resume-container {
	text-align: center;
	display: none;
	opacity: .85;
}

.back-button {
	cursor: pointer;
	height: 50px;
	position: absolute;
	left: 30px;
	top: 200px;
}

.button-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

img {
	display: inline-block;
	border-style: none;
}

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.centered-button-container {
	text-align: center;
}

.ghost-button {
	cursor: pointer;
	padding: 2px;
	border-radius: 5px;
	margin: 0 auto;
	width: 200px;
	margin-top: 140px;
	font-family: 'Poiret One';
	color: white;
	font-size: 34px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	display: inline-block;
	box-shadow: 0px 0px 14px 3px;
}

.ghost-button:hover {
	box-shadow: 0px 0px 14px 3px darkorange;
}

.resume-button {
	margin: 0px 17px;
}

.social-media-container {
	text-align: center;
	margin-top: 140px;
}

.social {
	height: 65px;
}
