body {
	min-width: 629px;
}

a  {
	text-decoration: none;
}

.logo {
	position: absolute;
	top: 5px;
	left: 10px;
	height: 75px;
	background-color: rgba(255,255,255,.18);
	margin: 15px;
	border-radius: 5px;
}

.header {
	text-align: center;
	color: white;
	font-family: 'Roboto', sans-serif;
	margin-top: 115px;
}

.myname {
	font-size: 40px;
}

.sub-header {

}

.button-container {
	position: absolute;
	bottom: 0px;
	left: 0px;
}

img {
	display: inline-block;
}

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.centered-button-container {
	text-align: center;
}

.ghost-button {
	cursor: pointer;
	padding: 2px;
	border-radius: 5px;
	margin: 0 auto;
	width: 200px;
	margin-top: 140px;
	font-family: 'Poiret One';
	color: white;
	font-size: 34px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	display: inline-block;
}

.social-media-container {
	text-align: center;
	margin-top: 140px;
}

.social {
	height: 65px;
}